@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background: url(img/bg_body.png) repeat-x rgb(242,242,242);
}

.banner {
    width: 100%;
    background: url(img/bg_banner.jpg) center top no-repeat;
    padding-top: 106px;
}

.banner-main {
    width: 100%;
    position: relative;
    height: 440px;
    overflow: hidden;
}

.shows {
    float: left;
    width: 100%;
    position: absolute;
    transition: left 0.5s;
}

.title {
    display: block;
    margin: auto;
}

.photo {
    display: block;
    margin: 12px auto 0;
}

.clear {
    clear: both;
}

.button {
    width: 219px;
    margin: 0 auto;
}

.button a {
    float: left;
    background: url(img/bg_banner_button.png) no-repeat;
    margin-right: 1px;
    width: 23px;
    height: 23px;
}

.button a.btn1 {
     background-position: 0 0;
 }

.button a.btn2 {
     background-position: -23px 0;
 }

.button a.btn3 {
    background-position: -46px 0;
}

.button a.btn4 {
    background-position: -69px 0;
}

.button a.btn5 {
    background-position: -92px 0;
}

.button a.btn6 {
    background-position: -115px 0;
}

.button a.btn7 {
    background-position: -138px 0;
}

.button a.btn8 {
    background-position: -161px 0;
}

.button a.btn9 {
    background-position: -184px 0;
}
