@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
#container{
	position: relative;
}
.box{
	float: left;
	padding: 5px;
	box-shadow: 0 5px 5px #ccc;
}
.imgbox{
	padding: 5px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.imgbox img{
	width: 200px;
	height: auto;
}
